@media (max-width: 1040px) {
	/* header styles changes*/
	header {
		.keyboard {
			top: 63%;
		}
		.pencil {
			top: 60%;
			width: 16%;
		}

		.notebook {
			width: 18%;
		}

		.iphone {
			width: 20%;
		}

		.paperclip1 {
			bottom: 22%;
			left: 15%;
		}

		.paperclip2 {
			bottom: 10%;
			left: 17%;
		}

	}
	
}

@media (max-width: 795px) {
	/*header styles changes*/
	header {
		h1 {
			font-size: 6.2rem;
		}
		h2 {
			font-size: 1.6rem;
		}
	}
	/* global styles changes */
	.wrapper {
		width: 75%;
	}

	/* work styles changes*/
	.portfolio-piece {
		width: 100%;
	}

	/* skills styles changes */
	.skills-item {
		width: 80px;
		height: 80px;
	}

	/* contact style changes*/
	.contact .flex-container {
		flex-wrap: wrap;
	}
	.contact-info {
		width: 100%;
	}
	.wpcf7 {
		width: 100%;

	}
	.sideways {
		left: 5px;
	}
}