/* NAVIGATION STYLES */
.main-nav {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	list-style: none;
	text-transform: uppercase;
	a {
		display: inline-block;
		padding: 10px;
		font-weight: 300;
		color: $black;
		letter-spacing: 5px;
	}
}