/* VARIABLES */
// colors
$blue:#DEECFF;
$mint:#E8F8F7;
$coral:#FEF1EB;
$lilac:#FBFAFF;
$purple:#F9F2FC;
$black: #4A4A4A;
$grey: #9B9B9B;


// typography
$baseFont: 'Roboto', sans-serif;
$headingFont: 'Playfair Display', serif;